.input {
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  box-sizing: border-box;
  outline: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 170px;
  text-align: right;
}