.button {
  cursor: pointer;
  background-color: #c1c1c1;
  margin: .25em;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: all 0.3 ease-in;
  outline: none;

  &:active {
    background-color: rgb(43, 84, 220);
    color: white;
  }
}