.App {
  text-align: center;
  position: relative;
}


.App-content {
  background-color: #efefee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: #757575;
}

.App-actions {
  margin-top: .3em;
}

/**  Box Animation  */
.moveBox-enter {
  left: 0;
  top: 0;
  background-color: #3b8dd4;
  transition: all 2000ms ease-in-out;
}

.moveBox-enter-done {
  left: calc(100% - 80px);
  top: calc(100% - 80px);
  background-color: red;
}
